{% extends 'base_html.html' %}
{% load static %}
{% load cache %}
{% block titleextra %} - User - {{ usr.id.username }}{% endblock %}
{% block main %}
<div class="FrontPage">
  <div class="row">
    <div class="col-md-2">
      <dl><dt>Profile Avatar:</dt><dd><img src="{{usr.avatar}}" alt="{{usr.id.username}}'s Avatar" class="img-rounded" ></dd></dl>
    </div>
    {% cache 500 profile %}
    <div class="col-md-10">
      <dl class="dl-horizontal">
        <dt>Username:</dt><dd>{{usr.id.username}}</dd>
        <dt>Website:</dt><dd><a href="{{usr.website_url}}">{{usr.website_text}}</a></dd>
        <dt>User Text:</dt><dd>{{usr.blurb}}</dd>
        {% if usr.steam_account%}<dt>Steam</dt><dd>{{usr.steam_account}}</dd>{% endif %}
        {% if usr.xbox_account%}<dt>XBox</dt><dd>{{usr.xbox_account}}</dd>{% endif %}
        <dt>Signature:</dt>
        <dd>{{usr.profile.sig_shown|safe }}</dd>
      </dl>
    </div>
    {% endcache %}
  </div>
</div>
{% endblock %}

{% block extraScripts %}
<script>
var menuItem = document.getElementById("menu_accounts_profile");
menuItem.className = "active";
</script>
{% endblock %}
